$color1: rgba(75, 45, 37, 1);
$color2: rgba(222, 226, 221, 1);
$color3: rgba(96, 107, 109, 1);
$color4: rgba(204, 155, 125, 1);
$color5: rgba(133, 88, 69, 1);
$color6: rgba(222, 226, 221, 0.5);

$headerColor: $color2;
$cartBgColor: $color4;
$emptyCartTxt: $color6;
$cartIcon: $color1;