$color1: rgba(75, 45, 37, 1);
$color2: rgba(222, 226, 221, 1);
$color3: rgba(96, 107, 109, 1);
$color4: rgba(204, 155, 125, 1);
$color5: rgba(133, 88, 69, 1);
$color6: rgba(222, 226, 221, 0.5);
$color7: rgba(133, 88, 69, 0.5);
$color8: rgba(204, 155, 125, 0.226);

$headerColor: $color2;
$headerShadow: $color1;
$menuFontColor: $color2;
$menuActive: $color4;
$cartBgColor: $color4;
$emptyCartTxt: $color6;
$cartIcon: $color1;