@import 'colors';

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;

    nav {
        width: 100%;
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: row;
       
        height: 50px;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: left;
        }

    }

    .hero-image {
        height: 250px;
    }

    .shop {
        .offer {
            margin-top: 40px;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;

            .item {
                display: flex;
                flex-direction: column;
                justify-items: end;
                padding: 15px;
                max-width: 220px;

                .count {
                    width: 25px;
                }
            }
        }

        .cart {
            position: fixed;
            top: 50px;
            right: -372px;
            z-index: 99999;
            transition: right 0.5s ease-out 0s;
            height: 450px;

            &:hover {
                right: 0;
            }

            .cart-content {
                width: 350px;
                top: -80px;
                text-align: center;
                height: max;
                padding: 10px;
        
                z-index: 20;
                position: relative;
                border-radius: 10px 0 0 10px;
                .empty-cart {
                    p{
                        margin-top: 50px;
                    }
                }
            }

            .cart-panel {
                width: 80px;
                font-weight: bold;
                border-radius: 10px;
                padding: 5px;
                top: 10px;
                position: relative;
                left: -76px;

                z-index: 1;
                background-color: $cartBgColor;
                
                .cart-icon {
                    padding: 20px 20px 20px 16px;
                }
            }
        }
    }

    .authorization {
        margin-top: 100px;
        .sign-in {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
           
        }
    
    }
    
}