@import 'colors';

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;

    nav {
        width: 100%;
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: row;
       
        height: 50px;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: left;
        }

    }

    .hero-image {
        height: 250px;
    }

    .shop {
        .offer {
            margin-top: 40px;
            flex-grow: 1;
            display: flex;
            justify-content: left;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            align-content: flex-start;

            .item {
                display: flex;
                flex-direction: column;
                justify-items: end;
                padding: 15px;
                width: 220px;
                margin: 5px;

                .count { 
                    width: 25px;
                }
            }
        }

        .cart {
            position: fixed;
            top: 50px;
            right: -372px;
            z-index: 99999;
            transition: right 0.5s ease-out 0s;
            height: 100vh;

            &:hover {
                right: 0;
            }

            .cart-content {
                width: 350px;
                top: -80px;
                text-align: center;
                height: max;
                padding: 10px;
        
                z-index: 20;
                position: relative;
                border-radius: 10px 0 0 10px;
                .empty-cart {
                    p{
                        margin-top: 50px;
                    }
                }
                .full-cart {
                    margin-top: 5px;
                    
                    .cart-table {
                        width: 90%;
                        margin: 20px;
                        .cart-table-head {
                            font-weight: bold;

                        }
                        th, td {
                            border-bottom: 1px solid $color1;
                            padding: auto 5px;
                            width: auto;
                            height: 30px;
                            vertical-align: bottom;
                        }
                        .cel-name {
                            font-weight: bold;
                        }   
                    }
                    .summary-price {
                            text-align: right;
                            padding: 20px;
                            font-weight: bold;
                        }
                }
            }

            .cart-panel {
                width: 80px;
                font-weight: bold;
                border-radius: 10px;
                padding: 5px;
                top: 10px;
                position: relative;
                left: -76px;

                z-index: 1;
                background-color: $cartBgColor;
                
                .cart-icon {
                    padding: 20px 20px 20px 16px;
                }
            }
        }
    }

    .authorization {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: top;
        margin: 75px 50px 0px 50px;
        text-align: center;
        h4 {
            height: 50px;
            width: 250px;
            margin: 0 auto;
            background-color: $color4;
            border-radius:  25px;
        }
        form {
            width: 400px;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
           label {
                margin: 10px 50px;
                input { 
                float: right;
                border: solid 0.5px;
                padding: 5px;
                }
            }
            .a-btn {
                width: 40%;
                margin: 20px auto;
            }
        }
        
    }
    
    .management{
        margin-top: 75px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 75px;

        h4 {
            width: 300px;
            i {
                padding: 0 20px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            margin: 0 10px;
            
            label {
                margin: 10px 50px;
                input { 
                float: right;
                }
            }
           
            
            .m-btn {
                width: 40%;
                margin: 20px auto;
            }
        }

        .storage {

        }
    }
}