@import 'colors.scss';
@import 'typography.scss';
@import 'mixins.scss';
@import 'layout.scss';

.container{
    nav{
        background-color: $color5;
        .after-log {
            display: none;
        }
    }
    .hero-image {
        background-image: url(../img/bg_img.jpg);
        background-size: 100% 100%;
        h1 {
            text-align: center;
            transform: translate(0, 60%);
            
        } 
    }
    .cart {
        background-color: $cartBgColor;
        .cart-panel {
            color: $cartIcon;
        }
        .cart-content{
            h3 {
                color: $cartIcon;
            }        
            .empty-cart {
                color: $emptyCartTxt;
                text-align: center;
            }
            .full-cart {
                display: none;
            }

        }
        

    }
    
}
.price::after {
    content: 'zł';
    margin-left: 5px;
}