@import 'colors.scss';
@import 'typography.scss';
@import 'mixins.scss';
@import 'layout.scss';

.container{
    nav{
        background-color: $color5;
    }
    .hero-image {
        background-image: url(../img/bg_img.jpg);
        background-size: 100% 100%;
        h1 {
            color: $headerColor;
            text-shadow: 3px 2px $color1;
            font-family: 'Mr De Haviland', cursive;
            text-align: center;
            transform: translate(0, 60%);
            font-size: 100px;
        } 
    }
    .cart {
        background-color: $cartBgColor;
        .button{
            #close-cart {
                text-align: right;
            }
        }
        
        .empty-cart {
            color: $emptyCartTxt;
            text-align: center;
            
        }
        .full-cart {
            display: none;
        }
    }
    
}
.price::after {
    content: 'zł';
    margin-left: 5px;
}