@import 'resetCSS.scss';
@import 'colors.scss';
@import 'typography.scss';
@import 'mixins.scss';
@import 'layout.scss';


.container{
    .navigation{
        background-color: $color5;
        align-items: center;
        justify-content: space-between;
        .navigation__link{
            text-decoration: none;
            color: $menuFontColor;
            margin: 5px;
            padding: 5px;
                
            .navigation__menu-el {
                &:hover{
                    border-bottom: solid 5px $color6;   
                }
                &:focus {
                    border-bottom: solid 5px $color6;   
                }
                &:active {
                    color: $menuActive;
                }            
            }    
        }
        .after-log {
            display: none;
        }
        
    }
    .hero-image {
        background-image: url(../img/bg_img.jpg);
        background-size: 100% 100%;
        margin-top: 50px;
        h1 {
            text-align: left;
            vertical-align: middle;
            padding: 50px;
            
        } 
    }

    .offer{
        .item {
            // border: solid;
         
            text-align: center;
            
            .item-props {
                
                .product-img{
                    height: 120px;
                    width: auto;
                }
                .name {
                    padding: 10px;
                    font-size: 20px;
                    font-weight: bold;
                    color: $color1;
                }
                .price {
                    padding: 10px;
                    font-weight: bold;
                    color: $color1;
                
                } 
            }
        }
    }
    .cart {
        background-color: $cartBgColor;
        .cart-panel {
            color: $cartIcon;
            cursor: pointer;
        }
        .cart-content{
            h2 {
                color: $cartIcon;
            }        
            .empty-cart {
                color: $emptyCartTxt;
                text-align: center;
            }
            .full-cart {
                display: none;
            }

        }
        

    }
    
}
.price::after {
    content: 'zł';
    margin-left: 5px;
}